{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
<title>{% trans "tks" %}-{% trans "schedule" %}</title>
{% endblock %}
	<!-- ///////// CONTENT START //////////////////////////////////////////////////////////////////// -->
{% block main %}
	<div id="sub_content">
		<h2 class="tit_page">
      <strong>{% trans "schedule" %}</strong>
			<span class="point"></span>
		</h2>
		<div class="board_lst">
			<ul>
        <li class="head">
          <a class="header" href="">
            <strong class="num_header">{% trans "number" %}</strong>
            <strong class="tit_header">{% trans "title" %}({% trans "place"%})</strong>
            <strong class="date_header">{% trans "task_date" %}</strong>
          </a>
        </li>
        {% for task in tasks %}
				<li>
          <a href="{{ task.id }}/">
            <span class="num">{{ forloop.revcounter }}</span>
            <strong class="tit">{{ task.title }}({{ task.locate }})</strong>
            <span class="date">{{ task.task_date }}</span>
					</a>
				</li>
        {% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
	<!-- ///////// CONTENT END //////////////////////////////////////////////////////////////////// -->
