{% extends "base.html" %}

{% block head_title %}
  <title>東京韓国商工会議所-スケジュール</title>
{% endblock %}
	<!-- ///////// CONTENT START //////////////////////////////////////////////////////////////////// -->
{% block main %}
	<div id="sub_content">
		<h2 class="tit_page">
			<strong>スケジュール</strong>
			<span class="point"></span>
		</h2>
		<div class="board_lst">
			<ul>
        <li class="head">
          <a class="header" href="">
            <strong class="num_header">番号</strong>
            <strong class="tit_header">件名</strong>
            <strong class="date_header">行事日</strong>
          </a>
        </li>
        {% for task in tasks %}
				<li>
          <a href="{{ task.id }}/">
            <span class="num">{{ forloop.revcounter }}</span>
            <strong class="tit">{{ task.title }}</strong>
            <span class="date">{{ task.task_date }}</span>
					</a>
				</li>
        {% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
	<!-- ///////// CONTENT END //////////////////////////////////////////////////////////////////// -->
