{% extends "base.html" %}

{% block head_title %}
  <title>東京韓国商工会議所-スケジュール</title>
{% endblock %}
	<!-- ///////// CONTENT START //////////////////////////////////////////////////////////////////// -->
{% block main %}
	<div id="sub_content">
		<h2 class="tit_page">
			<strong>スケジュール</strong>
			<span class="point"></span>
		</h2>
		<div class="board_lst">
			<ul>
        {% for task in tasks %}
				<li>
          <a href="{{ task.id }}/">
            <span class="num">{{ forloop.counter }}</span>
            <strong class="tit">{{ task.title }}</strong>
            <span class="date">{{ task.created_at }}2</span>
					</a>
				</li>
        {% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
	<!-- ///////// CONTENT END //////////////////////////////////////////////////////////////////// -->
