{% extends "base.html" %}

{% block head_title %}
  <title>東京韓国商工会議所-スケジュール</title>
{% endblock %}
	<!-- ///////// CONTENT START //////////////////////////////////////////////////////////////////// -->
{% block main %}
	<div id="sub_content">
		<h2 class="tit_page">
			<strong>スケジュール</strong>
			<span class="point"></span>
		</h2>
		<div class="board_view_tit">
      <span class="date">{{ object.date }}</span>
      <p class="tit">{{ object.title }}</p>
		</div>
		<div class="board_view">
			<div class="board_text">
        {{ object.locate }}
				<p>
        {{ object.content }}
				</p>
			</div>
		</div>
    {% if object.task_file %}
      <div class="board_view_footer">
        <a href="/{{ object.task_file }}/" class="btn_lst">添付資料を見る</a>
      </div>
    {% endif %}
		<div class="board_view_footer">
			<a href="/calendar/" class="btn_lst">一覧</a>
		</div>
	</div>
{% endblock %}
	<!-- ///////// CONTENT END //////////////////////////////////////////////////////////////////// -->
