{% extends "base.html" %}

{% block main %}
<div id="sub_content">
<table class="border_table" border="1">
  <tr heigth="30px">
    <th width="10%" align="center" bgcolor="#aaaaaa">番号</th>
    <th width="" align="center" bgcolor="#aaaaaa">会社名</th>
    <th width="20%" align="center" bgcolor="#aaaaaa">体表者名</th>
    <th width="30%" align="center" bgcolor="#aaaaaa">電話番号</th>
  </tr>
{% for member in members %}
  <tr heigth="30px">
    <td align="center">{{ forloop.counter }}</td>
    <td align="center"><a href="{{ member.id }}/"><strong>{{ member.company_name }}</strong></a></td>
    <td align="center">{{ member.name }}</td>
    <td align="center">{{ member.tel }}</td>
  </tr>
{% endfor %}
</table>
</div>
{% endblock %}

