{% extends "base.html" %}
{% load easy_maps_tags %}

{% block main %}
<div id="sub_content">
<br />
<table>
  <tr><th height="50px" width="30%">職位</th><td>{{ object.display_rank|default_if_none:'' }}</td></tr>
  <tr><th height="50px" width="50%">姓名</th><td>{{ object.name|default_if_none:'' }}</td></tr>
  <tr><th height="50px" width="30%">役職</th><td>{{ object.job_title|default_if_none:'' }}</td></tr>
  <tr><th height="50px" width="30%">会員社名</th><td>{{ object.company_name|default_if_none:'' }}</td></tr>
  <tr><th height="50px" width="30%">業種</th><td>{{ object.biz_type|default_if_none:'' }}</td></tr>
  <tr><th height="50px" width="30%">代表者名</th><td>{{ object.name|default_if_none:'' }}</td></tr> 
  <tr><th height="50px" width="30%">電話</th><td>{{ object.tel|default_if_none:'' }}</td></tr>
  <tr><th height="50px" width="30%">FAX</th><td>{{ object.fax|default_if_none:'' }}</td></tr>
  <tr><th height="50px" width="30%">住所</th><td>{{ object.address|default_if_none:'' }}</td></tr>
  <tr>
    <th height="50px" width="30%">e-mail</th>
    <td>
      {% if object.email %}
        <a href="mailto:{{ object.email }}">{{ object.email|default_if_none:'' }}</a>
      {% endif %}
    </td>
  </tr>
  <tr>
    <th height="50px" width="30%">URL</th>
    <td>
      {% if object.url %}
        <a href="{{ object.url }}" target="_blank">{{ object.url }}</a>
      {% endif %}
    </td>
  </tr>
  <tr><th>地図</th><td>{% easy_map object.address 300 180 16 using "member/map.html" %}</td></tr>
</table>
<br />
		<div class="board_view_footer">
			<a href="/member/" class="btn_lst">一覧</a>
		</div>
  </div>
{% endblock %}
