{% extends "base.html" %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-xs-1">
      <strong>番号</strong>
    </div>
    <div class="col-xs-3">
      <strong>会社名</strong>
    </div>
    <div class="col-xs-2">
      <strong>代表者名</strong>
    </div>
    <div class="col-xs-3">
      <strong>業種</strong>
    </div>
    <div class="col-xs-3">
      <strong>電話番号</strong>
    </div>
  </div>
  {% for member in members %}
  <div class="row">
    <div class="col-xs-1">
      {{ forloop.counter }}
    </div>
    <div class="col-xs-3">
      <a href="{{ member.id }}/"><strong>{{ member.company_name }}</strong></a>
    </div>
    <div class="col-xs-2">
      {{ member.name }}
    </div>
    <div class="col-xs-3">
      {{ member.biz_type }}
    </div>
    <div class="col-xs-3">
      {{ member.tel }}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

