{% extends "base.html" %}
{% load i18n %}

{% block main %}
<div id="sub_content">
  <div class="board_lst">
  <div class="container">
    <div class="row" style="background-color: #aaa;">
      <div class="col-xs-1 col-md-1">
        <strong>#</strong>
      </div>
      <div class="col-xs-6 col-md-3">
        <strong>{% trans "company name" %}</strong>
      </div>
      <div class="col-xs-4 col-md-1">
        <strong>{% trans "president" %}</strong>
      </div>
      <div class="col-xs-12 col-md-5">
        <div class="col-xs-7 col-md-7">
          <strong>{% trans "biz type" %}</strong>
        </div>
        <div class="col-xs-5 col-md-5">
          <strong>{% trans "phone number" %}</strong>
        </div>
      </div>
    </div>
    {% for member in members %}
    <div class="row">
      <div class="col-xs-1 col-md-1">
        {{ forloop.counter }}
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="{{ member.id }}/"><strong>{{ member.company_name }}</strong></a>
      </div>
      <div class="col-xs-4 col-md-1">
        {{ member.name }}
      </div>
      <div class="col-xs-12 col-md-5">
        <div class="col-xs-7 col-md-7">
          {{ member.biz_type }}
        </div>
        <div class="col-xs-5 col-md-5">
          {{ member.tel }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}

