{% extends "base.html" %}
{% load easy_maps_tags %}

{% block main %}
<table>
  <tr><th height="50px" width="30%">会員社名</th><td>{{ object.company_name }}</td></tr>
  <tr><th height="50px" width="30%">業種</th><td>{{ object.biz_type }}</td></tr>
  <tr><th height="50px" width="30%">代表社名</th><td>{{ object.name }}</td></tr> 
  <tr><th height="50px" width="30%">電話</th><td>{{ object.tel }}</td></tr>
  <tr><th height="50px" width="30%">FAX</th><td>{{ object.fax }}</td></tr>
  <tr><th height="50px" width="30%">住所</th><td>{{ object.address }}</td></tr>
  <tr><th></th><td>{% easy_map object.address 500 300 16 using "member/map.html" %}</td></tr>
</table>
{% endblock %}
