{% extends "base.html" %}

{% block main %}
<div id="sub_content">
  {{ member.name }}<br /><hr />
<form method="GET" action="/member/apply_complete/">{% csrf_token %}
  {{ form.non_field_errors }}
  <table>
    <tr><th width="80px">携帯番号</th><td width="300px">{{ form.tel }}</td></tr>
    <tr><th>パスワード</th><td>{{ form.password }}</td></tr>
    <tr><th></th><td><input type="submit" value="送信" /></td></tr>
  </table>
  <br /><br />
  <p>携帯番号とパスワードを入力し「送信」ボタンを押してください。<br />事務局から確認のお電話をいたします。<br />ご本人確認後、ログインできるようになります。</p>
</form>
</div>
{% endblock %}
