{# extends "pages/base.html" #}
{% extends "base.html" %}
{% load mezzanine_tags keyword_tags i18n %}
{% load easy_maps_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block page_main %}{{ block.super }}
<div id="sub_content">
  {{ page.richtextpage.content|richtext_filter|safe }} 
  <br />
  {% if page.title == 'map' %}
    {% easy_map '東京都新宿区歌舞伎町２-３２-９' 500 300 16 using "member/map.html" %}
  {% endif %}
</div>
{% endblock %}
