{% extends "base.html" %}
{% load news i18n %}

{% block head_title %}
<title>{% trans "tks" %}-{% trans "news" %}</title>
{% endblock %}
	<!-- ///////// CONTENT START //////////////////////////////////////////////////////////////////// -->
{% block main %}
	<div id="sub_content">
		<h2 class="tit_page">
      <strong>{% trans "news" %}-{% trans "tokyo taxbiz club" %}</strong>
			<span class="point"></span>
		</h2>
		<div class="board_lst">
			<ul>
        <li class="head">
          <a class="header" href="">
            <strong class="num_header">{% trans "number" %}</strong>
            <strong class="tit_header">{% trans "title" %}</strong>
            <strong class="date_header">{% trans "created at" %}</strong>
          </a>
        </li>
        {% for news in newses %}
				<li>
          <a href="/news/tax/{{ news.id }}/">
            <span class="num">{{ forloop.revcounter }}</span>
            <strong class="tit">{{ news.title }} ({% trans "click to read" %})</strong>
            <span class="date">{{ news.created_at }}</span>						
					</a>
				</li>
        {% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
	<!-- ///////// CONTENT END //////////////////////////////////////////////////////////////////// -->
