{% extends "base.html" %}

{% block head_title %}
  <title>東京韓国商工会議所-ニュース</title>
{% endblock %}
	<!-- ///////// CONTENT START //////////////////////////////////////////////////////////////////// -->
{% block main %}
	<div id="sub_content">
		<h2 class="tit_page">
			<strong>東京韓商ニュース</strong>
			<span class="point"></span>
		</h2>
		<div class="board_view_tit">
      <p class="tit">{{ object.title }}</p>
      <span class="date">{{ object.created_at }}</span>
		</div>
    <div class="board_view_footer">
      {% if object.stream_link %}
        <a href="{{ object.stream_link }}" class="btn_lst" target="_blank">動画を見る</a>
      {% endif %}
      {% if obejct.news_file %}
        <a href="/{{ object.news_file }}" class="btn_lst">記事をダウンロード</a>
      {% endif %}
    </div>
		<div class="board_view_footer">
			<a href="/news/tokan/" class="btn_lst">一覧</a>
		</div>
	</div>
{% endblock %}
	<!-- ///////// CONTENT END //////////////////////////////////////////////////////////////////// -->
