{% extends "base.html" %}

{% block head_title %}
  <title>東京韓国商工会議所-ニュース</title>
{% endblock %}
	<!-- ///////// CONTENT START //////////////////////////////////////////////////////////////////// -->
{% block main %}
	<div id="sub_content">
		<h2 class="tit_page">
			<strong>ニュース-日本経済週間動向</strong>
			<span class="point"></span>
		</h2>
		<div class="board_lst">
			<ul>
        <li class="head">
          <a class="header" href="">
            <strong class="num_header">番号</strong>
            <strong class="tit_header">件名</strong>
            <strong class="date_header">登録日</strong>
          </a>
        </li>
        {% for news in newses %}
				<li>
          <a href="/news/week/{{ news.id }}">
            <span class="num">{{ forloop.revcounter }}</span>
            <strong class="tit">{{ news.title }} (クリックして記事を見る)</strong>
            <span class="date">{{ news.created_at }}</span>						
					</a>
				</li>
        {% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
	<!-- ///////// CONTENT END //////////////////////////////////////////////////////////////////// -->
