{% extends "base.html" %}
{% load news i18n %}

{% block head_title %}
<title>{% trans "tks" %}-{% trans "news" %}</title>
{% endblock %}
	<!-- ///////// CONTENT START //////////////////////////////////////////////////////////////////// -->
{% block main %}
  {% if object.flag or user.is_authenticated %}
    <div id="sub_content">
      <h2 class="tit_page">
        <strong>{% trans "japan biz brief without amb" %}</strong>
        <span class="point"></span>
      </h2>
      <div class="board_view_tit">
        <p class="tit">{{ object.title }}</p>
        <span class="date">{{ object.created_at }}</span>
      </div>
      <div class="board_view">
        <div class="board_text">
          {{ object.descript }}
        </div>
      </div>
      <div class="board_view_footer">
        {% if object.news_file %}
        <a href="/{{ object.news_file }}" class="btn_lst">{% trans "file download" %}</a>
        {% endif %}
      </div>
      <div class="board_view_footer">
        <a href="/news/week/" class="btn_lst">{% trans "list" %}</a>
      </div>
    </div>
  {% else %}
    <div>
      <p>{% trans "need to login for read" %}</p>
    </div>
  {% endif %}
{% endblock %}
	<!-- ///////// CONTENT END //////////////////////////////////////////////////////////////////// -->
