{% extends "base.html" %}

{% block main %}
<div id="sub_content">
<form method="POST" action="/recruit/apply_complete/" enctype="multipart/form-data">{% csrf_token %}
  {{ form.non_field_errors }}
  <table>
    <tr><th width="80px">会社名</th><td>{{ form.company_name }}</td></tr>
    <tr><th>住所</th><td>{{ form.address }}</td></tr>
    <tr><th>電話番号</th><td>{{ form.tel }}</td></tr>
    <tr><th>募集内容</th><td>{{ form.descript }}</td></tr>
    <tr><th>関連資料</th><td>{{ form.file_name }}</td></tr>
    <tr height="50"><th></th><td><input type="submit" value="上記の内容で申し込む" /></td></tr>
  </table>
  <br /><br />
  <p>記入後「上記の内容で申し込む」ボタンを押してください。<br />事務局で内容を確認した上、掲載致します。<br /> よろしくお願いいたします。</p>
</form>
</div>
{% endblock %}
