{% extends "base.html" %}
{% load easy_maps_tags %}

{% block head_title %}
  <title>東京韓国商工会議所-リクルート</title>
{% endblock %}
	<!-- ///////// CONTENT START //////////////////////////////////////////////////////////////////// -->
{% block main %}
	<div id="sub_content">
		<h2 class="tit_page">
			<strong>リクルート</strong>
			<span class="point"></span>
		</h2>
		<div class="board_view_tit">
      <p class="tit"><h3>{{ object.title }}</h3></p>
		</div>
		<div class="board_view">
			<div class="board_text">
				<table>
          <tr height="30"><th width="30%">会社名</th><td>{{ object.company_name }} </td></tr>
          <tr height="30"><th>連絡先</th><td>{{ object.tel }}</td></tr>
          <tr height="30"><th>住所</th><td>{{ object.address }}</td></tr>
          <tr height="30"><th>求人情報</th><td>{{ object.descript }}</td></tr>
          <tr><th></th><td>{% easy_map object.address 500 300 16 using "member/map.html" %}</td></tr>
				</table>
			</div>
		</div>
		<div class="board_view_footer">
			<a href="/recruit/" class="btn_lst">一覧</a>
		</div>
	</div>
{% endblock %}
	<!-- ///////// CONTENT END //////////////////////////////////////////////////////////////////// -->
