{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
<title>{% trans "tks" %}-{% trans "recruit" %}</title>
{% endblock %}
	<!-- ///////// CONTENT START //////////////////////////////////////////////////////////////////// -->
{% block main %}
	<div id="sub_content">
		<h2 class="tit_page">
      <strong>{% trans "recruit" %}</strong>
			<span class="point"></span>
		</h2>
		<div class="board_lst">
			<ul>
        <li class="header">
        <a href="">
          <strong class="num_header">{% trans "number" %}</strong>
          <strong class="tit_header">{% trans "company name" %}</strong>
          <strong class="date_header">{% trans "created at" %}</strong>
        </a>
        </li>
        {% for recruit in recruits %}
				<li>
        <a href="{{ recruit.id }}/">
            <span class="num">{{ forloop.revcounter }}</span>
						<strong class="tit">
              <span>{{ recruit.company_name }}</span>
						</strong>
            <span class="date">{{ recruit.created_at }}</span>						
					</a>
				</li>
        {% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
	<!-- ///////// CONTENT END //////////////////////////////////////////////////////////////////// -->
