{% extends "base.html" %}

{% block head_title %}
  <title>東京韓国商工会議所-リクルート</title>
{% endblock %}
	<!-- ///////// CONTENT START //////////////////////////////////////////////////////////////////// -->
{% block main %}
	<div id="sub_content">
		<h2 class="tit_page">
			<strong>リクルート</strong>
			<span class="point"></span>
		</h2>
		<div class="board_lst">
			<ul>
        <li class="header">
        <a href="">
          <strong class="num_header">番号</strong>
          <strong class="tit_header">会社名</strong>
          <strong class="date_header">登録日</strong>
        </a>
        </li>
        {% for recruit in recruits %}
				<li>
        <a href="{{ recruit.id }}/">
            <span class="num">{{ forloop.revcounter }}</span>
						<strong class="tit">
              <span>{{ recruit.company_name }}</span>
						</strong>
            <span class="date">{{ recruit.created_at }}</span>						
					</a>
				</li>
        {% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
	<!-- ///////// CONTENT END //////////////////////////////////////////////////////////////////// -->
