{% extends "base.html" %}

{% block head_title %}
  <title>東京韓国商工会議所-リクルート</title>
{% endblock %}
	<!-- ///////// CONTENT START //////////////////////////////////////////////////////////////////// -->
{% block main %}
	<div id="sub_content">
		<h2 class="tit_page">
			<strong>リクルート</strong>
			<span class="point"></span>
		</h2>
		<div class="board_lst">
			<ul>
        {% for recruit in recruits %}
				<li>
        <a href="{{ recruit.id }}/">
						<span class="num">3</span>
						<strong class="tit">
              <span>{{ recruit.company_name }}</span>
						</strong>
            <span class="date">{{ recruit.created_at }}</span>						
					</a>
				</li>
        {% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
	<!-- ///////// CONTENT END //////////////////////////////////////////////////////////////////// -->
